<h1>Send Mail Net Core</h1>

<form method="post">
	<label>To:</label>
	<input type="text" class="form-control" name="to"/>
	<label>Asunto:</label>
	<input type="text" class="form-control" name="asunto"/>
	<label>Mensaje:</label>
	<textarea name="mensaje" class="form-control"></textarea>
	<button class="btn btn-info">Send Mail</button>
</form>

<h2 style="color: blue">@ViewData["MENSAJE"]</h2>