<h1>EJEMPLOS CATCHING</h1>
<ul class="LIST-GROUP">
	<li>
		<a asp-controller="Caching" asp-action="MemoriaDistribuida">Memoria distribuida</a>
	</li>
	<li>
		<a asp-controller="Caching" asp-action="MemoriaPersonalizada">Memoria personalizada</a>
	</li>
</ul>