<h1>Memoria Personalizada</h1>

<p>
	<a asp-controller="Caching" asp-action="MemoriaPersonalizada">Actualizar página</a>
</p>
<p>
	<a asp-controller="Caching" asp-action="MemoriaPersonalizada" asp-route-tiempo="15">Actualizar página 15 sg</a>
</p>
<p>
	<a asp-controller="Caching" asp-action="MemoriaPersonalizada" asp-route-tiempo="30">Actualizar página 30sg</a>
</p>
<h2 style="color: blue">@ViewData["MENSAJE"]</h2>
<h2 style="color: red">@ViewData["FECHA"]</h2>